* {
    margin: 0;
    padding: 0;
    color:#929292;
}

a {
    list-style: none;
    text-decoration: none;
}

ul,li{
    text-decoration: none;
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;

}

:root {
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* Layouts */
.l_wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

/* Component */
body {
    background-color: black;
}

/* header */
.header {
    background-color: #111111;
}

.header-inside {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.logo {
    flex-basis: 180px;
}

.description::before {
    content: '';
    width: 50px;
    height: 1px;
    background-color: currentColor;
}

p.description {
    display: flex;
    align-items: center;
    gap: 20px;
}

.anger {
    flex-basis: 100px;
    width: 100px;
    margin-bottom: auto;
    margin-left: auto;
}

/* section-menu */

.container {
    margin: 30px 0;
}

.container-contents {
    display: flex;
    gap: 20px;
}

.container-side {
    flex-basis: 200px;
    flex-shrink: 0;
}

.genre {
    display: flex;
    max-width: 15px;
    flex-shrink: 0;
    font-size: 12px;
    gap: 10px;
}

.genre-title {
    font-size: 1.3em;
}

.menu {
    background-color: #111111;
    border-top: 2px solid #FA8073;
    margin:10px 0
}

.title {
    color: #FA8073;
    margin: 10px 0 15px 0;
}

.item {
    color: #929292;
    border-bottom: 2px solid #444444;
    padding: 0 0 5px 10px;
    margin-bottom: 10px;
}

.item.border {
    border-bottom: none;
}

/* section-contents */

.box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    flex-grow: 1;
}

.contents-box {
    width: 30.333333%;
    padding: 0 8px;
}

.cover {
    border-radius: 5px 5px 0 0;
    overflow: hidden;

}

.card {
    padding: 15px 30px 10px 10px;
    background-color: #222222;
    border-radius: 10px;
}

.card-title {
    color: #F7BAC4;
    font-size: 14px;
    padding-bottom: 8px;
}

.article {
    padding-left: 10px;
}

span {
    background-color: black;
    color: #f00C;
    margin-top: 20px;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    letter-spacing: 2px;
}

@media (max-width:768px) {
    .contents-box {
         width: 100%;
    }
    /* .container {
        padding: 20px;
    } */
    }